In [ ]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

In [ ]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

In [10]:
import pandas as pd

In [ ]:
# Theory

# Exoplanets with featuers similar to that of Earth are most likely capable of becoming habitable
# I will be looking at orbital period, radius of the planet, gravity on the planet,  and temperature of the planet surface 
# These features will be compared to the current koi_disposition

# Read the CSV and Perform Basic Data Cleaning

In [2]:
df = pd.read_csv("exoplanet_data.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,koi_disposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,CONFIRMED,0,0,0,0,54.418383,2.479000e-04,-2.479000e-04,162.513840,0.003520,...,-81,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,FALSE POSITIVE,0,1,0,0,19.899140,1.490000e-05,-1.490000e-05,175.850252,0.000581,...,-176,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
2,FALSE POSITIVE,0,1,0,0,1.736952,2.630000e-07,-2.630000e-07,170.307565,0.000115,...,-174,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
3,CONFIRMED,0,0,0,0,2.525592,3.760000e-06,-3.760000e-06,171.595550,0.001130,...,-211,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
4,CONFIRMED,0,0,0,0,4.134435,1.050000e-05,-1.050000e-05,172.979370,0.001900,...,-232,4.486,0.054,-0.229,0.972,0.315,-0.105,296.28613,48.224670,15.714

In [5]:
# Identification of Column Names (Important Features (X values))

# koi_disposition =  All KOIs marked as CONFIRMED are also listed in the Exoplanet Archive Confirmed Planet table.
# koi_slogg = The base-10 logarithm of the acceleration due to gravity at the surface of the star.
# koi_prad = The radius of the planet. Planetary radius is the product of the planet star radius ratio and the stellar radius.
# koi_teq = Approximation for the temperature of the planet. 
# koi_period = Orbital period in days. The interval between consecutive planetary transits.

In [15]:
columns = list(df.head(0))
columns

['koi_disposition',
 'koi_fpflag_nt',
 'koi_fpflag_ss',
 'koi_fpflag_co',
 'koi_fpflag_ec',
 'koi_period',
 'koi_period_err1',
 'koi_period_err2',
 'koi_time0bk',
 'koi_time0bk_err1',
 'koi_time0bk_err2',
 'koi_impact',
 'koi_impact_err1',
 'koi_impact_err2',
 'koi_duration',
 'koi_duration_err1',
 'koi_duration_err2',
 'koi_depth',
 'koi_depth_err1',
 'koi_depth_err2',
 'koi_prad',
 'koi_prad_err1',
 'koi_prad_err2',
 'koi_teq',
 'koi_insol',
 'koi_insol_err1',
 'koi_insol_err2',
 'koi_model_snr',
 'koi_tce_plnt_num',
 'koi_steff',
 'koi_steff_err1',
 'koi_steff_err2',
 'koi_slogg',
 'koi_slogg_err1',
 'koi_slogg_err2',
 'koi_srad',
 'koi_srad_err1',
 'koi_srad_err2',
 'ra',
 'dec',
 'koi_kepmag']

# Select your features (columns)

In [24]:
# Set features. This will also be used as your x values.
selected_features = df[['koi_slogg', 'koi_prad', 'koi_teq', 'koi_period']]

In [16]:
selected_features.to_csv('selected_features.csv',index=False)

# Create a Train Test Split

Use `koi_disposition` for the y values

In [25]:
from sklearn.model_selection import train_test_split

planetary_data = pd.read_csv('selected_features.csv')
planetary_data.head(10)

  koi_disposition  koi_prad  koi_teq  koi_period
0       CONFIRMED      2.83      443   54.418383
1  FALSE POSITIVE     14.60      638   19.899140
2  FALSE POSITIVE     33.46     1395    1.736952
3       CONFIRMED      2.75     1406    2.525592
4       CONFIRMED      2.77     1160    4.134435
5       CONFIRMED      1.59     1360    2.566589
6       CONFIRMED      5.76      600   16.068647
7       CONFIRMED     13.04     1339    2.470613
8       CONFIRMED     16.10     2048    2.204735
9       CONFIRMED     14.59     1521    3.522498

In [28]:
features = planetary_data
labels = df['koi_disposition']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.4, random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

In [30]:
print(len(labels), len(y_train), len(y_val), len(y_test))

6991 4194 1399 1398

In [31]:
X_train.head()

     koi_disposition  koi_prad  koi_teq  koi_period
368   FALSE POSITIVE     29.55      313  100.303923
1937       CONFIRMED      1.80      608   15.362605
1151       CONFIRMED      1.39      914    6.988010
5610  FALSE POSITIVE     15.47      428   80.706064
3395  FALSE POSITIVE      1.11     2322    1.337562

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [ ]:
# Scale your data

# Train the Model

In [ ]:
print(f"Training Data Score: {model2.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model2.score(X_test_scaled, y_test)}")

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
# Create the GridSearchCV model

In [ ]:
# Train the model with GridSearch

In [ ]:
print(grid2.best_params_)
print(grid2.best_score_)

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'your_name.sav'
joblib.dump(your_model, filename)